*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(38, 38, 38);
}
.box-weather{
    width: 400px;
    text-align: center;
    background: linear-gradient(135deg, rgb(0, 255, 225), rgb(161, 0, 161) 150%);
    padding: 20px 30px;
    border-radius: 20px;
}
.box-weather nav{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-weather nav input{
    flex: 1;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: black;
}
.box-weather nav button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box-weather nav button i{
    color: rgb(69, 69, 69);
    font-size: 16px;
}
.box-weather .body{
    margin-top: 10px;
}
.box-weather .body img{
    width: 200px;
}
.box-weather .body h2{
    font-size: 3em;
}
.box-weather .body h3{
    margin-top: 10px;
    font-size: 1.5em;
}
.box-weather footer{
    display: grid ;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;
}
.box-weather footer .desc{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-weather footer .desc img{
    width: 40px;
}
.box-weather footer .desc div{
    text-align: left;
}
.box-weather footer .desc div h3{
    font-size: 25px;
    margin-top: 20px;
}
.box-weather footer .desc div p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(233, 233, 233);
}